* {
    user-select:none;
}

.toplevel_wrapper {
    width: 620px;
    height: 670px;
    margin: auto auto;

    justify-content: center;
    align-items: center;
    display: -webkit-flex;
}

.center {
    margin: auto auto;
    height: auto;
    width: auto;

    text-align: center;
}

.bigtitle {
    font-family: "Microsoft YaHei";
    font-size: 48px;
    margin: 20px auto;
    width: auto;
}

.title {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    margin: 10px auto;
    width: auto;
}

.title_diff {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    margin: 10px auto;
    width: 35px;

    color: #B47157;
}

.title_time {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    margin: 10px auto;
    width: 65px;

    color: #B47157;
}

.horizen_wrapper {
    display: flex;
    justify-content: space-between;
}

table.table_control {
    margin: auto;
    font-family: "Microsoft YaHei";
    font-size: 24px;
    
    border: 0px;
    border-collapse: separate;
    border-spacing: 0px;
}

table.table_control img {
    width: 24px;
    height: 24px;
}

table.table_main {
    margin: auto;

    border: 0px;
    border-collapse: separate;
    border-spacing: 0px;

    font-family: "Microsoft YaHei";
    font-size: 24px;
}

table.table_main tr {
    border: 0px;
    margin: 0px;
}

table.table_main tr td.cell {
    height: 40px;
    width: 40px;
    line-height: 40px;

    text-align: center;
    border: #B35C37 solid 1px;
}

table.table_numbers {
    border: 0px;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 4px;

    font-family: "Microsoft YaHei";
    font-size: 24px;
}

table.table_numbers tr {
    border: 0px;
    margin: 0px;
}

table.table_numbers tr td {
    height: 40px;
    width: 40px;
    line-height: 40px;

    text-align: center;
    border: #B47157 solid 1px;
}

p.smallchars {
    font-size: 10px; 
    line-height: 12px;
}

p.mediumchars {
    font-size: 14px;
    line-height: 18px;
}

table.table_difficulty {
    border: 0px;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 4px;

    font-family: "Microsoft YaHei";
    font-size: 24px;
}

table.table_difficulty tr {
    border: 0px;
    margin: 0px;
}

table.table_difficulty tr td {
    height: 40px;
    width: 40px;
    line-height: 40px;

    text-align: center;
    border: #B47157 solid 1px;
}

/*
body {
    background-color: #FB966E;
}
*/