.center {
    margin: 0 auto;
    width: auto;

    text-align: center;
}

.title {
    font-size: 24px;
    margin: 10px auto;
    width: auto;
}

table.table_main {
    margin: auto;

    border: 0px;
    border-collapse: separate;
    border-spacing: 0px;

    font-family: "Microsoft YaHei";
    font-size: 24px;
}

table.table_main tr {
    border: 0px;
    margin: 0px;
}

table.table_main tr td.cell {
    height: 40px;
    width: 40px;
    line-height: 40px;

    text-align: center;
    border: #B47157 solid 1px;
}

p.smallchars {
    font-size: 9px; 
    line-height: 12px;
}

table.table_difficulty {
    border: 0px;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 4px;

    font-family: "Microsoft YaHei";
    font-size: 24px;
}

table.table_difficulty tr {
    border: 0px;
    margin: 0px;
}

table.table_difficulty tr td {
    height: 40px;
    width: 40px;
    line-height: 40px;

    text-align: center;
    border: #B47157 solid 1px;
}

/*
body {
    background-color: #FB966E;
}
*/